#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT    0
#define NUMBERS    1
#define NAVIGATION 2
#define CONTROL    3

/ {
    behaviors {
        ht_hp: hold_tap_hold_preffered {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
// ┏━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓                                            ┏━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃                                            ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫                                            ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃                                            ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫                                            ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃                                            ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┗━━━━━━━━━┻━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┛                                            ┗━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┻━━━━━━━━━┛
//                     ┃         ┃         ┃         ┃┏━━━━━━━━━┓                                          ┏━━━━━━━━━┓┃         ┃         ┃         ┃
//                     ┃    ?    ┃    ?    ┃    ?    ┃┃         ┃                                          ┃         ┃┃    ?    ┃    ?    ┃    ?    ┃
//                     ┃         ┃         ┃         ┃┃    ?    ┃┏━━━━━━━━━┓                    ┏━━━━━━━━━┓┃    ?    ┃┃         ┃         ┃         ┃
//                     ┗━━━━━━━━━┻━━━━━━━━━┻━━━━━━━━━┛┃         ┃┃         ┃                    ┃         ┃┃         ┃┗━━━━━━━━━┻━━━━━━━━━┻━━━━━━━━━┛
//                                                    ┗━━━━━━━━━┛┃    ?    ┃                    ┃    ?    ┃┗━━━━━━━━━┛
//                                                               ┃         ┃                    ┃         ┃
//                                                               ┗━━━━━━━━━┛                    ┗━━━━━━━━━┛
        default_layer {
// ┏━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓                                            ┏━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃   ESC   ┃    Q    ┃    W    ┃    E    ┃    R    ┃    T    ┃                                            ┃    Y    ┃    U    ┃    I    ┃    O    ┃    P    ┃    [    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫                                            ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃ CAPSLCK ┃    A    ┃    S    ┃    D    ┃    F    ┃    G    ┃                                            ┃    H    ┃    J    ┃    K    ┃    L    ┃    ;    ┃    '    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫                                            ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃  SHIFT  ┃    Z    ┃    X    ┃    C    ┃    V    ┃    B    ┃                                            ┃    N    ┃    M    ┃    ,    ┃    .    ┃    /    ┃  SHIFT  ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┗━━━━━━━━━┻━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┛                                            ┗━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┻━━━━━━━━━┛
//                     ┃         ┃         ┃         ┃┏━━━━━━━━━┓                                          ┏━━━━━━━━━┓┃         ┃         ┃         ┃
//                     ┃  CTRL   ┃   WIN   ┃   ALT   ┃┃  BKSP   ┃                                          ┃         ┃┃  RCTRL  ┃    ?    ┃    ?    ┃
//                     ┃         ┃         ┃         ┃┃         ┃┏━━━━━━━━━┓                    ┏━━━━━━━━━┓┃  SPACE  ┃┃         ┃         ┃         ┃
//                     ┗━━━━━━━━━┻━━━━━━━━━┻━━━━━━━━━┛┃   NUM   ┃┃         ┃                    ┃         ┃┃         ┃┗━━━━━━━━━┻━━━━━━━━━┻━━━━━━━━━┛
//                                                    ┗━━━━━━━━━┛┃   TAB   ┃                    ┃  ENTER  ┃┗━━━━━━━━━┛
//                                                               ┃         ┃                    ┃         ┃
//                                                               ┗━━━━━━━━━┛                    ┗━━━━━━━━━┛
            bindings = <
    &kp ESC    &kp Q    &kp W     &kp E     &kp R     &kp T                                                 &kp Y     &kp U     &kp I     &kp O     &kp P    &kp LEFT_BRACKET
    &kp CAPS   &kp A    &kp S     &kp D     &kp F     &kp G                                                 &kp H     &kp J     &kp K     &kp L     &kp SEMI &kp SQT
    &kp LSHIFT &kp Z    &kp X     &kp C     &kp V     &kp B                                                 &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH &kp RSHIFT
                        &kp LCTRL &kp LWIN  &kp LALT                                                                  &kp RCTRL &kp RWIN  &kp RALT
                                                      &ht_hp NUMBERS BKSP  &kp TAB                           &kp ENTER &kp SPACE
            >;

        };
        numbers_layer {
// ┏━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓                                            ┏━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃    `    ┃    1    ┃    2    ┃    3    ┃    4    ┃    5    ┃                                            ┃    6    ┃    7    ┃    8    ┃    9    ┃    0    ┃    ]    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫                                            ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃    ~    ┃    !    ┃    @    ┃    #    ┃    $    ┃    %    ┃                                            ┃    =    ┃    (    ┃    )    ┃    {    ┃    }    ┃    \    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫                                            ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ^    ┃                                            ┃    &    ┃    _    ┃    *    ┃    -    ┃    +    ┃    |    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┗━━━━━━━━━┻━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┛                                            ┗━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┻━━━━━━━━━┛
//                     ┃         ┃         ┃         ┃┏━━━━━━━━━┓                                          ┏━━━━━━━━━┓┃         ┃         ┃         ┃
//                     ┃    ?    ┃    ?    ┃    ?    ┃┃         ┃                                          ┃         ┃┃    ?    ┃    ?    ┃    ?    ┃
//                     ┃         ┃         ┃         ┃┃   DEL   ┃┏━━━━━━━━━┓                    ┏━━━━━━━━━┓┃    ?    ┃┃         ┃         ┃         ┃
//                     ┗━━━━━━━━━┻━━━━━━━━━┻━━━━━━━━━┛┃         ┃┃         ┃                    ┃         ┃┃         ┃┗━━━━━━━━━┻━━━━━━━━━┻━━━━━━━━━┛
//                                                    ┗━━━━━━━━━┛┃    ?    ┃                    ┃    ?    ┃┗━━━━━━━━━┛
//                                                               ┃         ┃                    ┃         ┃
//                                                               ┗━━━━━━━━━┛                    ┗━━━━━━━━━┛

            bindings = <
    &kp GRAVE  &kp N1   &kp N2    &kp N3    &kp N4    &kp N5                                                &kp N6    &kp N7    &kp N8    &kp N9    &kp N0   &kp RIGHT_BRACKET
    &kp TILDE  &kp EXCL &kp AT    &kp HASH  &kp DLLR  &kp PRCNT                                             &kp EQUAL &kp LPAR  &kp RPAR  &kp LBRC  &kp RBRC &kp BACKSLASH
    &trans     &trans   &trans    &trans    &trans    &kp CARET                                             &kp AMPS  &kp UNDER &kp STAR  &kp MINUS &kp PLUS &kp PIPE
                        &trans   &trans   &trans                                                            &trans    &trans    &trans
                                                      &kp DEL  &trans                             &trans    &trans
            >;

        };

// ┏━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓                                            ┏━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃                                            ┃  HOME   ┃  PGUP   ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫                                            ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃                                            ┃  LEFT   ┃  DOWN   ┃   UP    ┃  RIGHT  ┃    ?    ┃    ?    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫                                            ┣━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┫
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃                                            ┃   END   ┃ PGDOWN  ┃    ?    ┃    ?    ┃    ?    ┃    ?    ┃
// ┃         ┃         ┃         ┃         ┃         ┃         ┃                                            ┃         ┃         ┃         ┃         ┃         ┃         ┃
// ┗━━━━━━━━━┻━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┛                                            ┗━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━┻━━━━━━━━━┛
//                     ┃         ┃         ┃         ┃┏━━━━━━━━━┓                                          ┏━━━━━━━━━┓┃         ┃         ┃         ┃
//                     ┃    ?    ┃    ?    ┃    ?    ┃┃         ┃                                          ┃         ┃┃    ?    ┃    ?    ┃    ?    ┃
//                     ┃         ┃         ┃         ┃┃    ?    ┃┏━━━━━━━━━┓                    ┏━━━━━━━━━┓┃    ?    ┃┃         ┃         ┃         ┃
//                     ┗━━━━━━━━━┻━━━━━━━━━┻━━━━━━━━━┛┃         ┃┃         ┃                    ┃         ┃┃         ┃┗━━━━━━━━━┻━━━━━━━━━┻━━━━━━━━━┛
//                                                    ┗━━━━━━━━━┛┃    ?    ┃                    ┃    ?    ┃┗━━━━━━━━━┛
//                                                               ┃         ┃                    ┃         ┃
//                                                               ┗━━━━━━━━━┛                    ┗━━━━━━━━━┛
    };
};
