if SHIELD_SLONIK_LEFT

config ZMK_KEYBOARD_NAME
    default "Slonik"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SLONIK_LEFT || SHIELD_SLONIK_RIGHT

config ZMK_SPLIT
    default y

endif
